html > body > main > article > nav,
html > body > main > article > header > p {
	display: none;
}
html > body {
	background: #e4ce9b;
}
html > body > main > article {
	background: rgba(255, 255, 255, 0.7);
	padding: 1.0em;
	margin: 1em 0;
	max-width: 30em;
}
/* only for article with class first */
html > body > main > article.first {
	background: none;
	text-align: center;
}
html > body > main > article.first > main {
	font-size: 1.6em;
	color: #8c3d09;
}
html > body > main > article.first > main h1 {
	font-size: 3.0em;
}
/* register button */
html.home form > div {
	text-align: right;
}
html.home form > div > button {
	display: inline;
}
