html > body > main > article > nav,
html > body > main > article > header > p {
	display: none;
}
html > body {
	background: #e4ce9b;
}
html > body > main > article {
	background: rgba(255, 255, 255, 0.7);
	padding: 1em;
	margin: 1em 0;
	max-width: 30em;
}
html.home form > div {
	text-align: right;
}
html.home form > div > button {
	display: inline;
}
